@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    // font-family: 'Source Sans Pro', sans-serif;
}

// .is-vertical-center {
//     display: flex;
//     align-items: center;
// }

.hue-text {
    background-clip: text !important;
    -webkit-background-clip: text !important;
  }
  
  .hue {
    color: #000;
    animation: hue 8s ease infinite;
    background: linear-gradient(124deg, #ff470f, #ff3860, #b86bff, #3273dc);
    background-size: 200% auto;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  
    @-webkit-keyframes hue {
      0% {
        background-position: 1% 80%;
      }
  
      50% {
        background-position: 99% 20%;
      }
  
      to {
        background-position: 1% 80%;
      }
    }
  
    @keyframes hue {
      0% {
        background-position: 1% 80%;
      }
  
      50% {
        background-position: 99% 20%;
      }
  
      to {
        background-position: 1% 80%;
      }
    }
  }